* {
    margin: 0%;
    padding: 0%;
}

.parent {
    background-color: black;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.tick1 {
    height: 650px;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.left {
    height: 480px;
    width: 70%;
    background-color: white;
    border-radius: 50px 0px 0px 50px;
    box-shadow:  6px 6px 7px rgba(255, 255, 255, 0.6);
    background-image: url(https://t3.ftcdn.net/jpg/03/15/44/56/360_F_315445649_00DrF55vABpPacVw63X6Cqq00UWNMWqD.jpg);
}

.right {
    height: 480px;
    width: 30%;
    background-color: white;
    border-radius: 0px 50px 50px 0px;
    box-shadow:  6px 6px 7px rgba(255, 255, 255, 0.6);
}

.left-in {
    background-color: rgb(53, 195, 252);
    opacity: 0.6;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 50px 0px 0px 0px;
    width: 100%;
}
.text {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pass {
    font-size: 40px;
}
.left-mid{
    display: flex;
    height: 330px;
    width: 100%;
}
.mid-left{
    width: 30%;
}
.mid-right{
    width: 70%;
}
.barcode{
    width: 100%;
}
img{
    width:100% ;
    position: relative;
    transform: rotate(90deg);
    top: 90px;
    right: 21px;
    height: 80px;
}
.row-one{
    height: 100px;
    width: 100%;
}
.first{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 80px;
    justify-content: space-around;
}
.second{
    height: 180px;
}
.icon{
    display: flex;
    height: 170px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.third{
    height: 110px;
}
.third-in{
    display: flex;
    height: 95px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.gate{
    width: 20%;
}
.time{
    width: 65%;
}
.right-in{
    background-color: blue;
    border-radius: 0px 50px 0px 0px;
    height: 100px;
    align-items: center;
    width: 100%;
}
.top{
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    justify-content: space-around;
}
.bottom{
    height: 380px;
    width: 100%;
}
.name{
    height: 45px;
    padding: 15px;
    width: 95%;
}
.seat{
    display: flex;
    width: 95%;
    padding: 15px;
}
.seat1{
    width: 45%;
}
.seat2{
    width: 45%;
}
.code{
    position: absolute;
}
#code1{
    position: relative;
    top: 15px;
    left: 18px;
    transform: rotate(180deg);
}
.child1{
    position: relative;
    top: 244px;
    right: 400px;
    background-color: #0c0c0c;
    height: 20px;
    width: 20px;
    border-radius: 50%
}
.child2{
    position: relative;
    top: 221px;
    right: 420px;
    background-color: #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%
}.child3{
    position: relative;
    top: 197px;
    right: 440px;
    background-color: #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%
}.child4{
    position: relative;
    top: 244px;
    right: 400px;
    background-color: #b5c015;
    height: 20px;
    width: 20px;
    border-radius: 50%
}.child1{
    position: relative;
    top: 244px;
    right: 400px;
    background-color: #0c0c0c;
    height: 20px;
    width: 20px;
    border-radius: 50%
}.child1{
    position: relative;
    top: 244px;
    right: 400px;
    background-color: #0c0c0c;
    height: 20px;
    width: 20px;
    border-radius: 50%
}.child1{
    position: relative;
    top: 244px;
    right: 400px;
    background-color: #0c0c0c;
    height: 20px;
    width: 20px;
    border-radius: 50%
}.child1{
    position: relative;
    top: 244px;
    right: 400px;
    background-color: #0c0c0c;
    height: 20px;
    width: 20px;
    border-radius: 50%
}.child1{
    position: relative;
    top: 244px;
    right: 400px;
    background-color: #0c0c0c;
    height: 20px;
    width: 20px;
    border-radius: 50%
}.child1{
    position: relative;
    top: 244px;
    right: 400px;
    background-color: #0c0c0c;
    height: 20px;
    width: 20px;
    border-radius: 50%
}.child1{
    position: relative;
    top: 244px;
    right: 400px;
    background-color: #0c0c0c;
    height: 20px;
    width: 20px;
    border-radius: 50%
}