*{
    margin: 0%;
    padding: 0%;
}
.parent{
    background-color: black;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child{
    background-color: orange;
    height: 300px;
    width: 50%;
    border-radius: 30px;
    transform: rotate(340deg);
    border: 5px solid orange;
    box-shadow: 0px 10px 0px 12px rgb(219, 127, 7);
}
.rounds{
    position: absolute;
}
.child1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 107px;
    left: 680px;
}
.child2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 15px 0px 0px 4px rgb(219, 127, 7);
    position: relative;
    top: 7px;
    right: 59px;
}
.text{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.text1{
    background-color:rgb(244, 242, 96);
    width: 60%;
    height: 200px;
    border-radius: 25px;
    font-family:cursive ;
    font-size: 100px;
    margin-right:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.text2{
    position: absolute;
}
.child3{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    top: 147px;
}
.child4{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    top: 152px;
}
.child5{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    top: 158px;
}
.child6{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    top: 62px;
}
.child7{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    top: 18px;
}
.child8{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    bottom: 28px;
}
.child9{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    bottom: 73px;
}
.child10{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    bottom: 119px;
}
.child11{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    bottom: 165px;
}
.child12{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    bottom: 210px;
}
.child13{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    bottom: 256px;
}
.child14{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    top: 6px;
}
.child15{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    top: 12px;
}
.child16{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    top: 20px;
}
.child17{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    top: 26px;
}
.child18{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 250px;
    top: 30px;
}



