*{
    margin: 0%;
    padding: 0%;
}
.main{
    height: 200px;
    width: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
.one{
    height: 200px;
    background-color: aqua;
    flex: 1;
}
#two{
    height: 200px;
    background-color: rgb(255, 60, 0);
    flex: 2;
}
.three{
    height: 200px;
    background-color: rgb(0, 255, 0);
    flex: 3;
}
.four{
    height: 200px;
    background-color: rgb(255, 0, 221);
    flex: 2;
}
#five{
    height: 200px;
    background-color: rgb(187, 255, 0);
    flex: 1;
}
.six{
    height: 200px;
    background-color: rgb(234, 0, 255);
    flex: 2;
}
.seven{
    height: 200px;
    background-color: rgb(0, 255, 0);
    flex: 3;
}


/* .left{
    height: 200px;
    width: 20%;
    background-color: red;
} */
/* .right{
    height: 200px;
    width: 20%;
    background-color: rgb(0, 38, 255);
} */
/* .mid1{
    height: 200px;
    width: 20%;
    background-color: rgb(15, 164, 209);
} */
/* .mid{
    height: 200px;
    width: 20%;
    border: 2px solid black;
    background-color: rgb(209, 15, 199);
} */
/* .mid3{
    height: 200px;
    width: 20%;
    background-color: rgb(209, 157, 15);
} */