*{
    margin: 0%;
    padding: 0%;
}
.head{
    background-color: yellow;
    height: 100px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    align-content: center;
}
.mid{
    display: flex;
    width: 100%;
    font-size: 20px;
    text-align: center;
    align-content: center;
}
.nav{
    background-color: blue;
    width: 25%;
    height: 500px;
}
.art{
    background-color: rgb(255, 0, 242);
    width: 75%;
    height: 500px;
}
.foot{
    background-color: rgb(43, 255, 0);
    height: 70px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    align-content: center;
}